@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #FAFAFA;
  --off-white: #F7F7F7;

  --sky-blue: #87CEEB;
  --mid-blue: #578FCA;
  --dark-blue: #3674B5;
  --space-blue: #0B192C;

  --dark-blue-light: rgba(54, 116, 181, 0.3);

  --spotify-primary: #1ED760;
  --spotify-secondary: #2C856B;
}

body {
  color: var(--off-white);
  background: var(--sky-blue);
  font-family: "Montserrat", sans-serif;
}

/* On screen content styles */
.large_content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.small_content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Button styles all buttons need */
.btn {
  border-radius: 10px;
  padding: 12px 30px;
}

/* Button hover styles all buttons need */
.btn:hover {
  cursor: pointer;
}

/* Styles just for primary buttons */
.btn-primary {
  color: var(--white);
  border-bottom: solid 5px var(--dark-blue);
  background-color: var(--mid-blue);
}

/* Styles just for secondary buttons */
.btn-secondary {
  color: var(--dark-blue);
  outline: solid 3px var(--dark-blue);
  background-color: var(--dark-blue-light);
}

/* Button hover styles for secondary buttons */
.btn-secondary:hover {
  color: var(--white);
  background-color: var(--dark-blue);
}